#ExtensionInfoDiv
{
	height: 335px;
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
		
.sectionDiv
{
	width: 700px;		
	padding: 10px;
	height: 300px;
	background-image: url(../images/body_bg.jpg)	
}

.itemSection
{
	height: 40px;
}

.longItemSection
{
	height: 180px;
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}