@CHARSET "ISO-8859-1";

#AddActionDiv
{
	height: 235px;
}

#ContactNameDiv
{
	width: 125px;
	float: left;
}
#EventTimeDiv
{
	width: 150px;
	float: left;
}

.sectionHeader
{
	color: #2787A0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.sectionDiv
{
	width: 95%;
	background: #D7D7D7;
	border: 1px solid #2787A0;	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;	
}

.itemSection
{
	height: 40px;
}

.longItemSection
{
	height: 180px;
}

.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
}