@CHARSET "ISO-8859-1";

#AffiliateLinkDiv
{
	height: 310px;
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;	
}

#ContactNameDiv
{
	width: 125px;
	float: left;
}
#filterCategoryDiv
{
	width: 150px;
	float: left;
	padding-top: 4px;
}
#filterSearchDiv
{
	width: 300px;
	float: right;
	text-align: right;
}
#affiliateTableDiv
{
	text-align: center;
	height: 165px;
	overflow: auto;
}
#filterSection
{
	height: 35px;
}

.search_table {
	border-collapse:collapse;
	width: 100%;
}
table.search_table td, table.searchtable th {
	border: 1px solid #666;
	font-size: 11px;
}
.rowheader {
	background-color: #2787A0;
	font-weight: bold;
	color: #FFF;
}

.sectionHeader
{
	color: #2787A0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.subSectionHeader
{
	color: #2787A0;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.sectionDiv
{
	width: 95%;
	background: #D7D7D7;
	border: 1px solid #2787A0;	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;	
}

.itemSection
{
	height: 40px;
}

.longItemSection
{
	height: 180px;
}

.buttonDiv
{
	margin-top: 10px;
	text-align: center;
}
label
{
	font-size: 11px;
	font-weight: bold;
}