#bodyDiv {
	width: 100%;
	min-width: 800px;
	height: 700px;
	padding-top: 15px;
	margin: 0px auto 0px auto;
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;	
}

#actionBar {
	background-repeat: repeat-x;
	margin: 10px 0px 15px auto;
	width:810px;
	font-size:14px;
	font-weight: bold;
	font-size: 11px;
	height: 25px;
	text-align: right;
}
.actionButton {
	text-decoration: none;	
	color: #aaaaaa;
	border-right: 1px solid #cfd8d5;
	padding-right: 5px;
	padding-left: 5px;
}
a.actionButton:hover{	
	color: #8438bc;
}
.actionButtonRight {
	text-decoration: none;	
	color: #aaaaaa;
	padding-left: 5px;
}

#errorMessage {
	font-size: 14px;
	font-weight: bold;
	color: #AA0000;
	text-align: center;
	width: 100%;
	clear: both;
}

#searchBar {
	width: 100%;
	text-align: right;
	clear: both;
	font-size: 10px;
	padding-top: 10px;
}

#alphabetBar {
	width: 20px;
	float: left;
	margin-left: 10px;
}

#contactsWindow {
	width: 96%;
	margin-left: 32px;
	height: 590px;
	border: 1px solid #666666;
}

table.contactsTable
{
	border-collapse:collapse;
	width: 100%;
	font-size: 9px;	
}
table.contactsTable, td.contactsTable
{
	border: 1px solid #cfd8d5;
}


.alphabetButton
{
	font-size: 10px;
	background: #EEEEEE;
	color: #666666;	
	border: 1px solid #666666;
	padding: 2px 3px 2px 3px;
	width: 15px;
	text-align: center;
	cursor: pointer;	
}
.alphabetButtonSelected
{
	font-size: 10px;
	background: #333333;
	color: #FFFFFF;	
	border: 1px solid #666666;
	padding: 2px 3px 2px 3px;
	width: 15px;
	text-align: center;
	font-weight: bold
}

.rowheader
{
	background: #CFD8D5;
	color: #000000;	
	border: 1px solid #CFD8D5;	
}

.rowheader a { 
        color: #000000; 
        } 
.rowheader a:visited{ 
        color: #000000; 
        } 
.rowheader a:hover { 
        color: #000000; 
        } 
.rowheader a:active {
		color: #000000;
		}
.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}

.checkboxLabel {
	width: 35px;
}

.eventLabel {
	font-size: 8px;
	text-align: center;
	width: 40px;
}
.eventCell {
	text-align: center;
}

.paginationNav {
	text-align: center;
	font-size: 10px;
}