#controlPanelContainer {
	width: 870px;
	padding-top: 15px;
	margin: 0px auto 0px auto;
}

#folderTreeContainer {
	overflow: auto; 
	height: 500px; 
	border: 1px #CFD8D5 solid; 
	width: 210px;
	float: left;
	padding-top: 10px;
	padding-left: 5px;
}
.dhtmlFolderImage {
	display: none;
}
#detailContainer {
	overflow: auto;	
	height: 510px; 
	border: 1px #CFD8D5 solid; 
	width: 634px;
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}

.reportLink { 
    color: #006489;
	text-decoration: none;		 
} 
.reportLink a { 
        color: #006489;
		text-decoration: none;		 
        } 
.reportLink a:visited{ 
        color: #006489; 
		text-decoration: none;        
        } 
.reportLink a:hover { 
        color: #363636;
		text-decoration: underline;         
        } 
.reportLink a:active {
		color: #006489;
		text-decoration: none;        
		}
.sectionDiv
{
	width: 600px;
	background: #dfdfdf;
	border: 1px solid #007DB1;	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;		
}