table.StatusTable
{
	border-collapse:collapse;
	width: 100%;
}
table.StatusTable, th.StatusTable, td.StatusTable
{
	border: 1px solid #008FD3;
	font-size: 11px;
}

table.HistoryTable
{
	border-collapse:collapse;
	width: 100%;
}
table.HistoryTable, th.HistoryTable, td.HistoryTable
{
	border: 1px solid #008FD3;
	font-size: 11px;
}

table.AppointmentTable
{
	border-collapse:collapse;
	width: 100%;
}
table.AppointmentTable, th.AppointmentTable, td.AppointmentTable
{
	border: 1px solid #cfd8d5;
	font-size: 11px;
}

.contactStatusColorBad
{
	background: #000000;
}
.contactStatusColor2
{
	background: #990000;
}
.contactStatusColor17
{
	background: #336633;
}
.contactStatusColor3
{
	background: #663366;
}
.contactStatusColor4
{
	background: #666666;
}
.contactStatusColor21
{
	background: #336666;
}
.contactStatusColor5
{
	background: #CC6600;
}
.contactStatusColor6
{
	background: #99CCFF;
}
.contactStatusColor1
{
	background: #CCCCCC;
}
