@CHARSET "ISO-8859-1";

#fileContainer {
	width: 870px;
	padding-top: 15px;
	margin: 0px auto 0px auto;
}

#folderTreeContainer {
	overflow: auto; 
	height: 500px; 
	border: 1px #CFD8D5 solid; 
	width: 210px;
	float: left;
	padding-top: 10px;
	padding-left: 5px;
}
#filelistContainer {
	overflow: auto;	
	height: 510px; 
	border: 1px #CFD8D5 solid; 
	width: 634px;
}
#filelist {
	height: 380px;
	overflow: auto;
}
#filedetails {
	height: 110px;
	background: #CFD8D5;
	padding: 10px;
}
#filepreview {
	height: 110px;
	width: 110px;
	border: 1px solid #999;
	float: left;
	margin-right: 5px;
	text-align: center;
	line-height: 110px;
}
#filepreview img{
	vertical-align: middle;
}
#filetext {
	height: 100px;
	width: 350px;
	float: left;
}
#filedownloadDiv {
	float: right;
	margin-bottom: 10px;
}
#fileviewDiv {
	float: right;
	margin-bottom: 5px;
}
#fileemailDiv {
	float: right;
}
#facebookDiv {
	float: right;
	clear: right;
	margin-bottom: 10px;
}
#twitterDiv {
	float: right;
	clear: right;
}
#linkedInDiv {
	float: right;
	clear: right;
}


.file_icon {
	width: 24px;
}

.radioDetail
{
	padding-left: 55px;	
	font-size: 11px;
	font-weight: bold;	
}


.sectionHeader
{
	color: #2787A0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
		
.sectionDiv
{
	width: 80%;
	background: #D7D7D7;
	border: 1px solid #2787A0;	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;	
}

.itemSection
{
	height: 40px;
}
.itemSectionLong
{
	height: 145px;
}
.itemSectionMedium
{
	height: 80px;
}

.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
}

.tableDetailOdd {
	background: #EFEFEF;
}
.tableHeader {
	background: #CFD8D5;
}


.placeholder-image {
	top: 25%;
	left: 25%;
	position: relative;
	padding: 10px;
}