@CHARSET "ISO-8859-1";

#MessageNameDiv
{
	width: 100%;
	float: left;
}
#MessageDiv
{
	width: 100%;
	float: left;
}
#ListingClassDiv
{
	width: 200px;
	float: left;
}
#OutsideIDDiv
{
	width: 225px;
	float: left;
}
#ListingLevelDiv
{
	width: 200px;
	float: left;
}


#AddMessageDiv
{
	height: 375px;
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
.subSectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top:  5px;
}
		
.sectionDiv
{
	width: 700px;
	height: 300px;		
	padding: 10px;
	background-image: url(../images/body_bg.jpg)	
}

.itemSection
{
	height: 40px;
}

.longItemSection
{
	height: 180px;
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}

.categoryHeader
{
	font-size: 11px;
	font-weight: bold;
}

div.workarea { float:left; overflow: auto; margin-right: 25px;}
 
ul.draglist { 
    position: relative;
    width: 200px; 
    height:240px;
    background: #f7f7f7;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
}
 
ul.draglist li {
    margin: 1px;
    cursor: move;
    zoom: 1;
}
 
ul.draglist_alt { 
    position: relative;
    width: 200px; 
    list-style: none;
    margin:0;
    padding:0;
    /*
       The bottom padding provides the cushion that makes the empty 
       list targetable.  Alternatively, we could leave the padding 
       off by default, adding it when we detect that the list is empty.
    */
    padding-bottom:20px;
}
 
ul.draglist_alt li {
    margin: 1px;
    cursor: move; 
}
 
 
li.list1 {
    background-color: #D1E6EC;
    border:1px solid #7EA6B2;
}
 
li.list2 {
    background-color: #D8D4E2;
    border:1px solid #6B4C86;
}
 
#user_actions { float: right; }