label {
	width: 75px;
	font-size: 11px;
	text-align: right;
	padding-right: 3px;
	display: block;
	float: left;
	padding-top: 5px;
	font-weight: bold;
	color: #666666;
}
.label {
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}
#body {
	width: 525px;
	margin: 15px auto 0px auto;
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;	
}

#buttonDiv {
	text-align: center;
}

table.eventTable
{
	border-collapse:collapse;
	width: 490px;
	margin-left: 10px;
}
table.eventTable, th.eventTable, td.eventTable
{
	border: 1px solid #666666;
	font-size: 11px;
}

.rowheader
{
	background: #666666;
	
	color: #FFFFFF;	
}

.rowheader a { 
        color: #FFFFFF; 
        } 
.rowheader a:visited{ 
        color: #FFFFFF; 
        } 
.rowheader a:hover { 
        color: #FFFFFF; 
        } 
.rowheader a:active {
		color: #FFFFFF;
		}
		

.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}		

.tabBar_tab {
	background-image: url(../images/tab_bg.jpg);	
	color: #606060;
	font-size: 12px;
	width: 129px;
	float: left;
	text-align: center;
	cursor: pointer;
	height: 29px;
	padding-top: 5px;
	font-weight: bold;
}
.tabBar_tab_selected {
	background-image: url(../images/tab_bg_selected.jpg);	
	color: #FFFFFF;
	font-size: 12px;
	width: 129px;
	float: left;
	text-align: center;
	cursor: pointer;
	height: 29px;
	padding-top: 5px;
	font-weight: bold;
}

.tabBar_content {
	background-image: url(../images/body_bg.jpg);	
	width: 516px;
	height: 300px;
	padding-top: 40px;
}

.dateInput {
	width: 85px;
	margin-left: 2px;
}

/* Contact Info Tab Elements */
#CompanyDiv {
	width: 100%;
}
#TitleDiv {
	width: 240px;
	float: left;
}
#PrefixDiv {
	width: 240px;
	float: left;
}
#FirstNameDiv {
	width: 240px;
	float: left;
	clear: both;
}
#LastNameDiv {
	width: 240px;
	float: left;
}
#Address1Div {
	width: 100%;
}
#Address2Div {
	width: 100%;
}
#Address3Div {
	width: 100%;
}
#CSZDiv {
	width: 100%;
}
#WorkPhoneDiv {
	width: 240px;
	float: left;
	clear: both;
}
#CellPhoneDiv {
	width: 240px;
	float: left;
}
#FaxDiv {
	width: 100%;
}
#WebsiteDiv {
	width: 100%;	
}
#EmailDiv {
	width: 100%;	
}

/* Additional Info Tab Elements */
#HomeAddress1Div {
	width: 100%;
}
#HomeAddress2Div {
	width: 100%;
}
#HomeAddress3Div {
	width: 100%;
}
#HomeCSZDiv {
	width: 100%;
}
#PhoneDiv {
	width: 100%;
}
#BirthdateDiv {
	width: 240px;
	float: left;
	clear: both;
}
#AnniversaryDiv {
	width: 270px;
	float: left;
}
#PublicContactDiv {
	width: 100%;
}
#CategoryDiv {
	width: 100%;
}
#SegmentDiv {
	width: 100%;
}

/* Notes Tab Elements */
#CommentsDiv {
	font-size: 12px;
	font-weight: bold;
	padding-left: 25px;
}







