@CHARSET "ISO-8859-1";

.radioDetail
{
	padding-left: 55px;	
	font-size: 11px;
	font-weight: bold;	
}

#EditFileDiv
{
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
}
#AddFileDiv
{
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
.subSectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top:  5px;
}
		
.sectionDiv
{
	width: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg)	
}
.longSectionDiv
{
	width: 700px;
	height: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg);
	background-color: #F0F2F1;
	background-repeat: repeat-x;
}


.longItemSection
{
	height: 180px;
}
.itemSectionLong
{
	height: 145px;
}
.itemSectionMedium
{
	height: 65px;
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}
