@CHARSET "ISO-8859-1";

#EditLeadDiv
{
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
	margin-top: 20px;
}

/* Section Divs */
#Section0Div
{
	height: 75px;
}
#Section1Div
{
	height: 85px;
}
#Section2Div
{
	height: 250px;
}
#Section3Div
{
	height: 325px;
}
#Section4Div
{
	height: 225px;
}
#Section5Div
{
	height: 175px;
}
#Section6Div
{
	height: 225px;
}
#SectionXDiv
{
	height: 50px;
}

/* Item Divs */
/* Section2 */
#PropertyAddressDiv
{
	width: 430px;
	float: left;	
}
#PropertyFoundDiv
{
	width: 130px;
	float: left;	
}
#PropertyCityDiv
{
	width: 260px;
	float: left;
}
#PropertyStateDiv
{
	width: 45px;
	float: left;
}
#PropertyZipDiv
{
	width: 110px;
	float: left;
}
#PropertyTypeDiv
{
	width: 200px;
	float: left;
}
#LoanPurposeDiv
{
	width: 140px;
	float: left;
}
#LoanTypeDiv
{
	width: 340px;
	float: left;	
}
#OwnerOccupiedDiv
{
	width: 250px;
	float: left;	
}
#PurchaseYearDiv
{
	width: 115px;
	float: left;
}
#PurchasePriceDiv
{
	width: 140px;
	float: left;
}
#MarketValueDiv
{
	width: 135px;
	float: left;
}
#BedroomCountDiv
{
	width: 115px;
	float: left;
}
#BathroomCountDiv
{
	width: 115px;
	float: left;
}
#SquareFootageDiv
{
	width: 115px;
	float: left;
}

/* Section3 */
#BorrowerDiv
{
	width: 50%;
	min-width: 345px;	
	float: left;
}
#CoBorrowerDiv
{
	width: 50%;
	min-width: 345px;
	float: left;	
}
#OtherBorrowerDiv
{
	width: 100%;	
	float: left;
}
#FirstNameDiv
{
	width: 105px;
	float: left;
}
#LastNameDiv
{
	width: 115px;
	float: left;
}
#DOBDiv
{
	width: 75px;
	float: left;
}
#Address1Div
{
	width: 100%;	
}
#CityDiv
{
	width: 170px;
	float: left;
}
#StateDiv
{
	width: 45px;
	float: left;
}
#ZipDiv
{
	width: 110px;
	float: left;
}
#FirstName2Div
{
	width: 103px;
	float: left;
}
#LastName2Div
{
	width: 115px;
	float: left;
}
#CoDOBDiv
{
	width: 100px;
	float: left;
}
#CoAddressDiv
{
	width: 100%;	
}
#CoCityDiv
{
	width: 170px;
	float: left;
}
#CoStateDiv
{
	width: 45px;
	float: left;
}
#CoZipDiv
{
	width: 110px;
	float: left;
}
#PhoneDiv
{
	width: 140px;
	float: left;
}
#Phone2Div
{
	width: 140px;
	float: left;
}
#FaxDiv
{
	width: 135px;
	float: left;
}
#EmailDiv
{
	width: 100%;	
}
#SpouseFirstNameDiv
{
	width: 135px;
	float: left;
}
#SpouseLastNameDiv
{
	width: 135px;
	float: left;
}
#MaritalStatusDiv
{
	width: 140px;
	float: left;
}

/* Section4 */
#BorrowerEmpDiv
{
	width: 50%;
	min-width: 345px;	
	float: left;
}
#CoBorrowerEmpDiv
{
	width: 50%;
	min-width: 345px;
	float: left;	
}
#EmployerNameDiv
{
	width: 195px;
	float: left;
}
#TimeOnJobDiv
{
	width: 100px;
	float: left;
}
#EmployerAddressDiv
{
	width: 345px;
	float: left;
}
#EmployerCityDiv
{
	width: 174px;
	float: left;
}
#EmployerStateDiv
{
	width: 45px;
	float: left;
}
#EmployerZipDiv
{
	width: 110px;
	float: left;
}
#OccupationDiv
{
	width: 175px;
	float: left;
}
#BFSDiv
{
	width: 100px;
	float: left;
}
#WorkPhoneDiv
{
	width: 140px;
	float: left;
}
#CoEmployerNameDiv
{
	width: 195px;
	float: left;
}
#CoTimeOnJobDiv
{
	width: 150px;
	float: left;
}
#CoEmployerAddressDiv
{
	width: 345px;
	float: left;
}
#CoEmployerCityDiv
{
	width: 260px;
	float: left;
}
#CoEmployerStateDiv
{
	width: 45px;
	float: left;
}
#CoEmployerZipDiv
{
	width: 110px;
	float: left;
}
#CoOccupationDiv
{
	width: 175px;
	float: left;
}
#CoBFSDiv
{
	width: 100px;
	float: left;
}
#CoWorkPhoneDiv
{
	width: 140px;
	float: left;
}

/* Section4 */
#IncomeDiv
{
	width: 50%;
	min-width: 345px;	
	float: left;
}
#ExpenseDiv
{
	width: 50%;
	min-width: 345px;
	float: left;	
}


















#ListingTypeDiv
{
	width: 250px;
	float: left;
}
#OtherListingTypeDiv
{
	width: 250px;
	float: left;
}
#NewUserIDDiv
{
	width: 225px;
	float: left;
}


#ContactStatusTypeIDDiv
{
	width: 250px;
	float: left;
}
#LastContactEventTypeIDDiv
{
	width: 250px;
	float: left;
}




#ButtonDiv
{
	width: 800px;
}


#PropertyTaxesDiv
{
	width: 115px;
	float: left;
}
#AnnualInsuranceDiv
{
	width: 115px;
	float: left;
}
#HOADuesDiv
{
	width: 115px;
	float: left;
}
#NeedPurchaseRealtorDiv
{
	width: 150px;
	float: left;
}
#RealtorNameDiv
{
	width: 125px;
	float: left;
}
#RealtorPhoneDiv
{
	width: 125px;
	float: left;
}
#NeedSellRealtorDiv
{
	width: 150px;
	float: left;
}
#FormerBankruptcyDiv
{
	width: 150px;
	float: left;
}
#BankruptcyTypeDiv
{
	width: 180px;
	float: left;
}
#BankruptcyYearDiv
{
	width: 110px;
	float: left;
}
#JudgementDiv
{
	width: 150px;
	float: left;
}
#LoanAmountDiv
{
	width: 115px;
	float: left;
}
#CashOutDiv
{
	width: 115px;
	float: left;
}
#FHALoanDiv
{
	width: 115px;
	float: left;
}
#SignedContractDiv
{
	width: 115px;
	float: left;
}
#DownPaymentDiv
{
	width: 115px;
	float: left;
}
#AssetsAmountDiv
{
	width: 115px;
	float: left;
}
#LoanTimeframeDiv
{
	width: 140px;
	float: left;
}
#RateTypeDiv
{
	width: 140px;
	float: left;
}
#EventTypeDiv
{
	overflow: auto;	
	height: 180px;
}

#CustomerInfoDiv
{
	height: 280px;
}
#CoBorrowerInfoDiv
{
	height: 120px;
}
#StatusSectionDiv
{
	width: 500px;	
	margin-left: auto;
	margin-right: auto;
}
#CommentsDiv
{
	height: 200px;
}
#Comments
{
	height: 190px;
	width: 100%;	
}
#HistoryDiv
{
	height: 200px;
	background: #FFFFFF;	
}
#EmployerInfoDiv
{
	height: 160px;
}
#CoBorrowerEmployerInfoDiv
{
	height: 160px;
}
#PropertyInfoDiv
{
	height: 280px;
}
#LoanInfoDiv
{
	height: 120px;
}
#DebtInfoDiv
{
	height: 175px;
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
.subSectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top:  5px;
}
		
.sectionDiv
{
	width: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg)	
}
.longSectionDiv
{
	width: 700px;
	height: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg)	
}

.itemSection
{
	height: 40px;
}
.itemHeader
{
	text-align: center;
	width: 100%;
	font-weight: bold;	
}

.lineItem
{
	width: 200px;
	float: left;
	font-size: 11px;
	font-weight: bold;		
}

.longItemSection
{
	height: 180px;
}
.mortgageSection
{
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	display: block;
}
.mortgageSectionLabel
{
	font-size: 11px;
	font-weight: bold;
	width: 60px;
	display: block;
	float: left;
	margin-top: 5px;	
}
.debtSection
{
	width: 285px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	display: block;
}
.debtSectionLabel
{
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;	
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
}

table.event_table
{
	border-collapse:collapse;
	width: 100%;
}
table.event_table, th.event_table, td.event_table
{
	border: 1px solid black;
	font-size: 11px;
}

.print_only
{
	display: none;
}
@media print
{
	body
	{
		font-size: 12px;
	}
	
	#header
	{
		display: none;
	}
	#navbar_div
	{
		display: none;
	}
	
	.print_only
	{
		display: inherit;
	}
	.no_print
	{
		display: none;
	}
	.breakpage
	{
		page-break-before: always;
	}
	.sectionDiv
	{
		width: 100%;
	}
	.radio_label
	{
		font-size: inherit;
		font-weight: inherit;
	}
	.mortgageSectionLabel
	{
		font-size: 11px;
		font-weight: bold;
		width: 55px;
		display: block;
		float: left;
		margin: 0px;	
	}
	.mortgageSectionSpan
	{
		font-size: 12px;
		font-weight: normal;
	}
	.mortgageSection
	{
		width: 50%;
	}
	.debtSection
	{
		width: 100%;
	}
	.debtSectionLabel
	{
		font-size: 11px;
		font-weight: bold;
		margin: 0px;
		width: 75px;	
		display: inline;
	}
	.debtSectionSpan
	{
		font-size: 12px;
		font-weight: normal;
		display: inline;
		width: 125px;		
	}	
	
	input
	{
		display: none;
	}
	select
	{
		display: none;
	}			
}