@CHARSET "ISO-8859-1";

#UsernameDiv
{
	width: 400px;
	float: left;
}
#FirstNameDiv
{
	width: 135px;
	float: left;
}
#LastNameDiv
{
	width: 180px;
	float: left;
}
#TitleDiv
{
	width: 170px;
	float: left;
}
#AddressDiv
{
	width: 425px;
	float: left;	
}
#CityDiv
{
	width: 265px;
	float: left;
}
#StateDiv
{
	width: 50px;
	float: left;
}
#ZipcodeDiv
{
	width: 115px;
	float: left;
}
#ContactPhoneDiv
{
	width: 140px;
	float: left;
}
#ContactCellDiv
{
	width: 140px;
	float: left;
}
#ContactFaxDiv
{
	width: 135px;
	float: left;
}
#PhoneTollFreeDiv
{
	width: 135px;
	float: left;
}
#ExtensionDiv
{
	width: 135px;
	float: left;
}
#ListingBudgetDiv
{
	width: 135px;
	float: left;
}
#FacebookDiv
{
	margin-top: 10px;	
}
#NewPassword1Div
{
	width: 130px;
	float: left;
}
#NewPassword2Div
{
	width: 130px;
	float: left;
}
#NMLSNumberDiv
{
	width: 170px;
	float: left;
}
#ContactEmailDiv
{
	width: 200px;
	float: left;
}

#OtherAddressDiv
{	width: 430px;
	float: left;
}


#ControlPanelDiv{
	float: left;
	width: 110px;
}

#OtherCityDiv
{
	width: 265px;
	float: left;
}
#OtherStateDiv
{
	width: 50px;
	float: left;
}
#OtherZipcodeDiv
{
	width: 115px;
	float: left;
}

#UserInfoDiv
{
	/* height: 375px; */
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
}

#CopyAddressDiv{
/*	padding-top: 15px; */
	float: left;
	width: 114px;
}

#ManagerDiv{
	float: left;
	width: 120px;
}

#RegionDiv
{
	width: 150px;
	float: left;
}
#SupervisorIDDiv{
	float: left;
	width: 150px;
}
#SupervisorDiv{
	float: left;
	width: 60px;
}
#DivisionDiv {
	width: 150px;
	float: left;
}
#ReportsDiv{
	width: 110px;
	float: left;
}
.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
		
.sectionDiv
{
	width: 700px;
	/* height: 380px; */	
	padding: 10px;
	background-image: url(../images/body_bg.jpg);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
}

.itemSection
{
	height: 40px;
}
.checkboxSection {
	height: 25px;
}
.longItemSection
{
	height: 180px;
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}

#ChangePassDiv {
	padding-top: 10px;
}

#ChangePassButton {
	font-size: 10px;	
}