@CHARSET "ISO-8859-1";

#EditLeadDiv
{
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
	margin-top: 20px;
}

#ListingTypeDiv
{
	width: 235px;
	float: left;
}
#OtherListingTypeDiv
{
	width: 110px;
	float: left;
}
#NewUserIDDiv
{
	width: 175px;
	float: left;
}
#FirstNameDiv
{
	width: 135px;
	float: left;
}
#LastNameDiv
{
	width: 155px;
	float: left;
}
#DOBDiv
{
	width: 100px;
	float: left;
}
#FirstName2Div
{
	width: 135px;
	float: left;
}
#LastName2Div
{
	width: 155px;
	float: left;
}
#CoDOBDiv
{
	width: 100px;
	float: left;
}
#Address1Div
{
	width: 100%;	
}
#CityDiv
{
	width: 255px;
	float: left;
}
#StateDiv
{
	width: 40px;
	float: left;
}
#ZipDiv
{
	width: 115px;
	float: left;
}
#PhoneDiv
{
	width: 140px;
	float: left;
}
#Phone2Div
{
	width: 140px;
	float: left;
}
#FaxDiv
{
	width: 135px;
	float: left;
}
#EmailDiv
{
	width: 100%;	
}
#LoanTypeDiv
{
	width: 335px;
	float: left;	
}
#LoanAmountDiv
{
	width: 135px;
	float: left;
}
#ContactStatusTypeIDDiv
{
	width: 250px;
	float: left;
}
#LastContactEventTypeIDDiv
{
	width: 250px;
	float: left;
}
#EventTypeDiv
{
	overflow: auto;	
	height: 180px;
}
#MarketValueDiv
{
	width: 85px;
	float: left;
}
#NewHomeValueDiv
{
	width: 95px;
	float: left;
}
#DownPaymentDiv
{
	width: 85px;
	float: left;
}
#CashOutDiv
{
	width: 85px;
	float: left;
}
#Mortgage1BalanceDiv
{
	width: 95px;
	float: left;
}
#Mortgage2BalanceDiv
{
	width: 95px;
	float: left;
}
#ExternalID
{
	width: 180px;
	float: left;
}
#FollowUpDiv
{
	width: 110px;
	float: left;
	text-align: center;
}
#CreateOppDiv
{
	width: 75px;
	float: left;
	text-align: center;
}
#RealTagDiv
{
	padding-top: 15px;
	width: 75px;
	float: left;
	text-align: center;	
}
#LoanCompDiv
{
	padding-top: 5px;	
	width: 80px;
	float: left;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	color: #007DB1;
}

#CustomerInfoDiv
{
	height: 320px;
}
#LeftSection
{
	width: 425px;
	height: 300px;
	border-right: 1px solid black;	
	float: left;
}
#RightTopSection
{
	width: 260px;
	height: 175px;
	float: left;
	border-bottom: 1px solid black;
	padding-left: 10px;	
}
#RightBottomSection
{
	width: 260px;
	height: 100px;
	float: left;
	padding-left: 10px;	
	padding-top: 10px;
}
#StatusSectionDiv
{
	width: 500px;	
	margin-left: auto;
	margin-right: auto;
}
#CommentsDiv
{
	height: 200px;
}
#Comments
{
	height: 190px;
	width: 100%;	
}
#HistoryDiv
{
	height: 200px;
	background: #FFFFFF;	
}
#OpportunityDiv
{
	height: 200px;
	background: #FFFFFF;	
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
.subSectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top:  5px;
}
		
.sectionDiv
{
	width: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg)	
}
.longSectionDiv
{
	width: 700px;
	height: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg)	
}

.itemSection
{
	height: 40px;
	min-width: 425px;
}

.longItemSection
{
	height: 180px;
}
.mortgageSection
{
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	display: block;
}
.mortgageSectionLabel
{
	font-size: 11px;
	font-weight: bold;
	width: 60px;
	display: block;
	float: left;
	margin-top: 5px;	
}
.debtSection
{
	width: 380px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	display: block;
}
.debtSectionLabel
{
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;	
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
}

table.event_table
{
	border-collapse:collapse;
	width: 100%;
}
table.event_table, th.event_table, td.event_table
{
	border: 1px solid black;
	font-size: 11px;
}

.print_only
{
	display: none;
}

@media print
{
	#header
	{
		display: none;
	}
	#navbar_div
	{
		display: none;
	}
	
	.print_only
	{
		display: inherit;
	}
	.no_print
	{
		display: none;
	}
	.breakpage
	{
		page-break-before: always;
	}
	.sectionDiv
	{
		width: 100%;
	}
	
	input
	{
		display: none;
	}
	select
	{
		display: none;
	}			
}