
#home_container {
	margin-top: 15px;
	min-width: 1110px;
	height: 500px;
	float: left;
}

.homeHeader {
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top:  5px;
	height:55px;
	clear: both;
}

.quicklinks {
	border: 1px solid #c4c5c7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}
.quicklinks_menu {
	background: url(../images/quicklinks_menu_bg.jpg) repeat-x top;
}
a.quicklinks_menu_item {
	background: url(../images/quicklinks_menu_bg.jpg) repeat-x top;
	text-decoration:none;
	font-weight:bold;
	float:left;
	padding:4px 3px 0 3px;
	margin-right:3px;
	color:#28BB9F;
}
.quicklinks_msg {
	background: url(../images/quickinks_message_bg.jpg) repeat-x top;
	padding: 7px 7px 7px 7px;
}
.quicklinks_msg_content {
	background:#FFFFFF;
	border: 1px solid #28BB9F;
	height:160px; 
	padding:7px;
}
.home_banners {
	margin-top: 2px;
	margin-bottom: 15px;
}
.home_panel {
	height: 290px;
	width: 750px;
}
#main_panel {
	width: 730px;
	float: left;	
	height: 500px;
	font-weight: bold;
}
#side_panel {
	width: 305px;
	float: left;	
	height: 500px;
	font-weight: bold;
	margin-right: 15px;
}

.calendarLinkDiv {
	width: 50px;
	float: right;
	font-size: 8px;
	cursor: pointer;
}

#apptHeader {
	width: 430px;
	float: right;
	padding-top: 10px;
}

h4
{
	margin: 0;	
	color: #2787A0;
}

#codebird .tweet_container {
	border-bottom: 1px solid #AAA;
	padding: 5px;
}

#codebird .tweet_header {
	color: #2787A0;
	font-weight: bold;
}