table {
font-size: 12px;
}
#home_container {
    margin-top: 15px;
    min-width: 1350px;
    min-height: 500px;
    float: left;
}

#Dashboard_Container {
    /* width: 625px;
    float: left;
    height: 500px; */
    float: left;
    width: 648px;
}
#AppointmentTable_Container {
    /* width: 400px;
    float: left; */
}

.dashboardDiv {
    width: 300px;
    height: 250px;
    /* border: 1px solid #AAA; */
    float: left;
}
.smallDashboardDiv {
    width: 138px;
    height: 250px;
    /* border: 1px solid #AAA; */
    float: left;
    padding-left: 0px;
}


.homeHeader {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top:  5px;
    height:30px;
    clear: both;
}

..home_banners {
    margin-top: 2px;
    margin-bottom: 15px;
}
.home_panel {
    height: 290px;
    width: 750px;
}
#main_panel {
    float: left;	
    min-height: 598px;
    font-weight: bold;
}
#side_panel {
    width: 305px;
    float: left;	
    min-height: 598px;
    font-weight: bold;
   /* margin-right: 15px; */
}

.calendarLinkDiv {
    width: 30px;
    float: right;
    font-size: 8px;
    cursor: pointer;
}



h4
{
    margin: 0;	
    color: #2787A0;
}

/* new layout v1.1 */

a, a:visited {
    text-decoration: none;
    color: #28BB9F;
}

a:hover {
    color: #0D7A64;
}

.AppointmentMainSimp {
\   font-family: Arial, Helvatica, sans-serif;
    line-height: 1.69em;
    border-collapse: collapse;
    position: relative;
    width: 100%;
    /* height: 244px; */

}

.Container {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #aaaaaa;
    padding: 1px;
    margin: 10px;

}

#CalendarTable_Container, #AppointmentTable_Container {
    width: 296px;
}

#RightPanel {
    width: 305px;
    float: left;
    margin: auto;
}

.Header {
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    background-color: #aaaaaa;
    font-size: 14px;
    font-weight: bold;
    padding-top:  5px;
    padding-left: 5px;
    height:25px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
background: -moz-linear-gradient(top,  #aaaaaa 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #aaaaaa 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #aaaaaa 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #aaaaaa 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #aaaaaa 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#ffffff',GradientType=0 );
}

.smallDashboardDiv .Header {
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    background-color: #aaaaaa;
    font-size: 14px;
    font-weight: bold;
    padding-top:  5px;
    padding-left: 5px;
    height:25px;
    clear: both;
    border: 1px solid #aaaaaa;
}

.rowheader {
background: #CFD8D5;
color: #000000;
border: none;
}

tr:first-child.rowheader td:first-child { border-top-left-radius: 3px; }
tr:first-child.rowheader td:last-child { border-top-right-radius: 3px; }
tr:first-child.rowheader td:first-child { border-bottom-left-radius: 3px; }
tr:first-child.rowheader td:last-child { border-bottom-right-radius: 3px; }

.enlarge-icon {
float: right;
padding-right: 10px;
}

#enlarge-icon-img {
border: none;
}

.spinner {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 24px;
	height: 24px;
	top: 50%;
	margin-top: -12px;
}

.alt-spinner {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 24px;
	height: 24px;
	top: 50%;
}

#AppointmentTable_Dashboard {
height: 244px; 
}

#quicklinks {
height: 72px;
}

.ui-tooltip {
font-size: 10px;
}

.mac-notice {
  font-weight: normal;
  font-style: italic;
  color: gray;
  font-size: 11px;

}

.highcharts-container {
	background-image: url(../images/PoweredByOptifiNowGraph.png);
	background-repeat:no-repeat;
	background-position: center; 
}

#codebird .tweet_container {
	border-bottom: 1px solid #AAA;
	padding: 5px;
}

#codebird .tweet_header {
	color: #2787A0;
	font-weight: bold;
}