@CHARSET "ISO-8859-1";

#LeadTransferDiv
{
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
}

#ContactNameDiv
{
	width: 125px;
	float: left;
}
#AppointmentTimeDiv
{
	width: 200px;
	float: left;
}
#ReminderWarningDiv
{
	width: 125px;
	float: left;
}
#ReminderTypeDiv
{
	width: 125px;
	float: left;
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
.subSectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top:  5px;
}
		
.sectionDiv
{
	width: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg);	
	height: 300px;
}
.longSectionDiv
{
	width: 700px;
	height: 700px;		
	padding: 10px;
	background-image: url(../images/body_long_bg.jpg)	
}

.itemSection
{
	height: 40px;
	min-width: 425px;
}

.longItemSection
{
	height: 180px;
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
}