@CHARSET "ISO-8859-1";

#LeadDiv {
	width: 95%;
	min-height: 400px;
	border: 1px solid #666666;
	margin: 0px auto 0px auto;
	min-width: 800px;
}

table.lead_table
{
	border-collapse:collapse;
	width: 100%;
}
table.lead_table, td.lead_table
{
	border: 1px solid #cfd8d5;
	font-size: 11px;
}

#actionBar {
	background-repeat: repeat-x;
	margin: 10px 0px 15px auto;
	width:810px;
	font-size:14px;
	font-weight: bold;
	font-size: 11px;
	height: 25px;
	text-align: right;
}
.actionButton {
	text-decoration: none;	
	color: #aaaaaa;
	border-right: 1px solid #cfd8d5;
	padding-right: 5px;
	padding-left: 5px;
}
a.actionButton:hover{	
	color: #8438bc;
}
.actionButtonRight {
	text-decoration: none;	
	color: #aaaaaa;
	padding-left: 5px;
}
a.actionButtonRight:hover{	
	color: #8438bc;
}


.backNav
{
	padding: 0px 0px 10px 0px;
	font-size: 10px;	
}

.bluetext
{
	color: #006489;
}
.whitetext
{
	color: #FFFFFF;
}
.blacktext
{
	color: #000000;
}

.icon_link
{
	color: #23768C;
	font-size: 10px;		
}
.icon_link a { 
	text-decoration: none;	
       color: #23768C; 
	font-size: 10px;
        } 
.icon_link a:visited{ 
	text-decoration: none;	
    color: #23768C; 
	font-size: 10px;        
        } 
.icon_link a:hover { 
    text-decoration: underline;	
    color: #23768C; 
	font-size: 10px;        
        } 
.icon_link a:active {
	text-decoration: none;	
	color: #23768C;
	font-size: 10px;        
		}

.date_input
{
	width: 75px;
}		

.detail_div
{
	position: absolute;
	top: 250px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 400px;
	border: 5px solid #666;
	text-align: center;
	background: #FFF;
}

.rowheader
{
	background: #CFD8D5;
	color: #000000;	
	border: 1px solid #CFD8D5;	
}

.rowheader a { 
        color: #000000; 
        } 
.rowheader a:visited{ 
        color: #000000; 
        } 
.rowheader a:hover { 
        color: #000000; 
        } 
.rowheader a:active {
		color: #000000;
		}
.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}