@CHARSET "ISO-8859-1";

#login_container
{
	width: 430px;
	height: 380px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
	padding-left: 10px;
	background-image:url(../images/optimize_r2_c2.png)
}

#message_div {
	color: #990000;
	font-weight: bold;
	text-align: center;
}

#input_div {
	padding-bottom: 15px;
}
#button_div {
	text-align: right;
	padding-right: 25px;
	padding-bottom: 10px;
}
#link_div {

	padding-right: 25px;	
	
}

#link_div a {
	color:#45BE99;

	font-size:11px; 
	font-family: Arial;	
	
	
}

#body {
	padding-top: 50px;
}

label {
 
	font-size:11px; 
	font-family: Arial;
	width: 100px;
	display: block;
	text-align: left;
	float: left;
	margin-right: 10px;
	padding-top: 5px;
}

input[type=text] {
	width: 200px;
}

.mainHeader
{
	color: #007DB1;
	font-weight: 900;	
	font-size: 24px;	
}
.subHeader
{
	color: #007DB1;
	font-weight: 900;	
	font-size: 18px;	
}


.white_link
{
	color: #FFFFFF;
	font-weight: bold;
}
.white_link a { 
	text-decoration: none;	
	color: #FFFFFF; 
} 
.white_link a:visited { 
	text-decoration: none;	
	color: #FFFFFF; 
} 
.white_link a:hover { 
	text-decoration: none;	
	color: #FFFFFF; 
} 
.white_link a:active { 
	text-decoration: none;	
	color: #FFFFFF; 
} 