@CHARSET "ISO-8859-1";

#login_container
{
	width: 300px;	
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 10px;
	border: 3px solid #008FD3;
}

#message_div {
	color: #990000;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#input_div {
	padding-bottom: 15px;
}
#button_div {
	text-align: right;
	padding-right: 25px;
	padding-bottom: 10px;
}
#link_div {
	text-align: right;
	padding-right: 25px;	
	
}

#body {
	padding-top: 50px;
}

label {
	color:#ec1d17; 
	font-size:13px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	width: 100px;
	display: block;
	text-align: right;
	float: left;
	margin-right: 10px;
	padding-top: 5px;
}

input[type=text] {
	width: 200px;
}

.mainHeader
{
	color: #007DB1;
	font-weight: 900;	
	font-size: 24px;	
}
.subHeader
{
	color: #007DB1;
	font-weight: 900;	
	font-size: 18px;	
}


.white_link
{
	color: #FFFFFF;
	font-weight: bold;
}
.white_link a { 
	text-decoration: none;	
	color: #FFFFFF; 
} 
.white_link a:visited { 
	text-decoration: none;	
	color: #FFFFFF; 
} 
.white_link a:hover { 
	text-decoration: none;	
	color: #FFFFFF; 
} 
.white_link a:active { 
	text-decoration: none;	
	color: #FFFFFF; 
} 