@CHARSET "ISO-8859-1";

table.extension_table
{
	border-collapse:collapse;
	width: 100%;
	margin: 15px auto;
}
table.extension_table, th.extension_table, td.extension_table
{
	border: 1px solid #CFD8D5;	
	font-size: 11px;
}

#addDiv
{
	text-align: right;
	padding: 5px 10px 0px 0px; 
	font-weight: bold;
}
#addDiv a { 
        color: #AAAAAA;
        text-decoration: none;
        } 
#addDiv a:visited{ 
        color: #AAAAAA; 
        } 
#addDiv a:hover { 
        color: #AAAAAA; 
        } 
#addDiv a:active {
		color: #AAAAAA;
		}

.backNav
{
	padding: 10px 0px 10px 0px;
	font-size: 10px;	
}

.rowheader
{
	background: #CFD8D5;
	color: #000000;	
}

.rowheader a { 
        color: #000000; 
        } 
.rowheader a:visited{ 
        color: #000000; 
        } 
.rowheader a:hover { 
        color: #000000; 
        } 
.rowheader a:active {
		color: #000000;
		}
.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}