@CHARSET "ISO-8859-1";
table.user_table
{
	border-collapse:collapse;
	width: 100%;
	font-size: 11px;	
}
table.user_table, td.user_table
{
	border: 1px solid #cfd8d5;
}

.rowheader
{
	background: #CFD8D5;
	color: #000000;	
	border: 1px solid #CFD8D5;	
}

.rowheader a { 
        color: #000000; 
        } 
.rowheader a:visited{ 
        color: #000000; 
        } 
.rowheader a:hover { 
        color: #000000; 
        } 
.rowheader a:active {
		color: #000000;
		}
.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}

#HeaderRow
{
	position: relative; 
	top: 0;
	left: 0; 
}

.backNav
{
	padding: 10px 0px 10px 0px;
	font-size: 10px;	
}