@CHARSET "ISO-8859-1";

#actionBar {
	font-weight: bold;
	font-size: 11px;
	height: 25px;
	text-align: right;
	padding-top: 5px;
}
.actionButton {
	text-decoration: none;	
	color: #aaaaaa;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 11px;
}
a.actionButton:hover{	
	color: #8438bc;
}
.actionButtonRight {
	text-decoration: none;	
	color: #aaaaaa;
	padding-left: 5px;
}

table.file_table
{
	border-collapse:collapse;
	width: 100%;
	font-size: 11px;	
}
table.file_table, td.file_table
{
	border: 1px solid #cfd8d5;
}

.rowheader
{
	background: #CFD8D5;
	color: #000000;	
	border: 1px solid #CFD8D5;	
}

.rowheader a { 
        color: #000000; 
        } 
.rowheader a:visited{ 
        color: #000000; 
        } 
.rowheader a:hover { 
        color: #000000; 
        } 
.rowheader a:active {
		color: #000000;
		}
.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}

#HeaderRow
{
	position: relative; 
	top: 0;
	left: 0; 
}

.backNav
{
	padding: 10px 0px 10px 0px;
	font-size: 10px;	
}

.actionButton-left {
	text-decoration: none;	
	color: #aaaaaa;
	padding-left: 5px;
	padding-bottom: -2px;
	float: left;
	font-size: 12px;
}

.actionButton-right {
	font-size: 11px;
}

#tablelist {
	line-height: 25px;
	font-size: 12px;
}