
#actionBar {
	font-weight: bold;
	font-size: 11px;
	height: 25px;
	text-align: right;
	padding-top: 5px;
}
.actionButton {
	text-decoration: none;	
	color: #aaaaaa;
	border-right: 1px solid #cfd8d5;
	padding-right: 5px;
	padding-left: 5px;	
}
a.actionButton:hover{	
	color: #8438bc;
}
.actionButtonRight {
	text-decoration: none;	
	color: #aaaaaa;
	padding-left: 5px;
}

table.message_table
{
	border-collapse:collapse;
	width: 100%;
	font-size: 11px;	
}
table.message_table, td.message_table
{
	border: 1px solid #cfd8d5;
}

.rowheader
{
	background: #CFD8D5;
	color: #000000;	
	border: 1px solid #CFD8D5;	
}

.rowheader a { 
        color: #000000; 
        } 
.rowheader a:visited{ 
        color: #000000; 
        } 
.rowheader a:hover { 
        color: #000000; 
        } 
.rowheader a:active {
		color: #000000;
		}
.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}

#tablelist {
	line-height: 25px;
	font-size: 12px;
}