body {
    font-size: 12px;
    padding: 5px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.navbar {
    margin-bottom: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    /* background-color: #f5f5f5; */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

#optifiheader {
    z-index: 2000;
    position: relative;
}

legend {
    border-bottom: 1px solid #929090;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
}

/* Sales onDemand customizations */
.paginationNav {
    text-align: center;
}

/* colors */
.yellow {
    color: #FFB00A;
    font-color: #FFB00A;
}

.center {
    align: center;
    text-align: center;
}

/* table customizations */
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #EEEEEE;
}

/* login form */
#login_form {
    max-width: 400px;
    margin: auto auto;
}

/* mobile contact view */
.info-group {
    padding-left: 20px;
    padding-bottom: 15px;
}

.info-label {
    margin-bottom: 5px;
}

#mobilesalesview {
    font-size: 16px;
}

.form-submenu:-moz-placeholder {
    color: #999999;
}

.form-submenu::-moz-placeholder {
    color: #999999;
}

.form-submenu:-ms-input-placeholder {
    color: #999999;
}

.form-submenu::-webkit-input-placeholder {
    color: #999999;
}

.form-submenu {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-submenu:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-submenu[disabled],
.form-submenu[readonly],
fieldset[disabled] .form-submenu {
    cursor: not-allowed;
    background-color: #eeeeee;
}

textarea.form-submenu {
    height: auto;
}

.row {
    margin-bottom: 3px;
}

.nav-stacked ul {
    margin-left: 20px !important;
}

.socialbutton {
    padding: 0px;
    margin: 1px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

button.socialbutton::-moz-focus-inner {
    margin: -1px;
    padding: 0px;
}

.socialbutton[disabled="disabled"], .socialbutton:disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.notallowed {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.detaillinks a:hover {
    text-decoration: none;
}

hr.form-divider {
    border-top: 1px solid #000000;
}

#SMSDiv {
    height: 200px;
    overflow: auto;
}

#HistoryDiv {
    height: 200px;
    overflow: auto;
}

.sms-notif {
    font-size: 12px;
}

.sms-time {
    font-size: 10px;
    font-style: italic;
}

.small-glyphicon {
    font-size: 9px;
}

/* Navbar Brand */
a.navbar-brand {
    padding: 0px;
}

/* Panel Body as Header */
.panel-lead {
    margin-bottom: 0px;
}

/* Well on Tabs */
.tab-well.well {
    padding-top: 0px;
}

/* Form Spacing */
.form-group {
    margin-bottom: 8px;
}

.input-sm {
    height: 28px;
}

label {
    margin-bottom: 3px;
}

/* Button Small Square */
.btn-sm-square {
    padding: 5px 5px;
}

/* Appointment Table */

.table-appt > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px;
}

/* Chosen Inline */

.chosen-inline > .chosen-container {
    position: absolute;
}

/* Home Feed (Twitter or RSS) */

.home-feed {
    /*    max-height: 33.5vh; */
    max-height: 530px;
    overflow-y: auto;
}

/* Lead Store */

.leadstore_label {
    padding-right: 5px;
    padding-top: 6px;
}

.leadstore_field {
    padding-left: 0px;
}

/* RSS */

.author {
    display: none;
}

.imagecache-thumbnail {
    float: left;
    margin: 0 5px 0 0;
}