@CHARSET "ISO-8859-1";

#PopAppointmentDiv
{
	height: 100%;
}

#ContactNameDiv
{
	width: 250px;
	float: left;
}
#PhoneDiv
{
	width: 125px;
	float: left;
}
#Phone2Div
{
	width: 125px;
	float: left;
}



.sectionHeader
{
	color: #2787A0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.sectionDiv
{
	width: 95%;
	background: #D7D7D7;
	border: 1px solid #2787A0;	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;	
}
.colHead
{
	background:white;
	border:1;
	font-weight: bold;
}

.itemSection
{
	height: 40px;
}

.itemSectionodd
{
	height: 40px;
	background:DarkGray;
	
	
}
.itemSectioneven
{
	height: 40px;
	background: Gray ;
}

.longItemSection
{
	height: 160px;
}

.buttonDiv
{
	margin-top: 10px;
}
label
{
	font-size: 11px;
	font-weight: bold;
}
a:link
{
	color: black;
}
a:visited
{
	color:black;
}
a:hover
{
	font-weight:bold;
}