@CHARSET "ISO-8859-1";

#socialContainer {
	width: 870px;
	padding-top: 15px;
	margin: 0px auto 0px auto;
}

#folderTreeContainer {
	overflow: auto; 
	height: 500px; 
	border: 1px #CFD8D5 solid; 
	width: 210px;
	float: left;
	padding-top: 10px;
	padding-left: 5px;
}
#sociallistContainer {
	overflow: auto;	
	height: 510px; 
	border: 1px #CFD8D5 solid; 
	width: 634px;
}
#sociallist {
	height: 380px;
	overflow: auto;
}
#socialdetails {
	background: #CFD8D5;
	background-repeat: repeat-y;
	padding: 10px;
	position: relative;
	overflow: auto;
}
#socialpreview {
	height: 110px;
	width: 110px;
	border: 1px solid #999;
	float: left;
	margin-right: 5px;
	text-align: center;
	line-height: 110px;
}
#socialpreview img{
	vertical-align: middle;
}
#socialtext {
	min-height: 100%;
	width: 350px;
	float: left;
}
#socialdownloadDiv {
	float: right;
	clear: right;
	margin-bottom: 10px;
}
#socialviewDiv {
	float: right;
	clear: right;
}
#facebookDiv {
	float: right;
	clear: right;
	margin-bottom: 10px;
}
#twitterDiv {
	float: right;
	clear: right;
}
#linkedInDiv {
	float: right;
	clear: right;
}

.radioDetail
{
	padding-left: 55px;	
	font-size: 11px;
	font-weight: bold;	
}


.sectionHeader
{
	color: #2787A0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
		
.sectionDiv
{
	width: 80%;
	background: #D7D7D7;
	border: 1px solid #2787A0;	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;	
}

.itemSection
{
	height: 40px;
}
.itemSectionLong
{
	height: 145px;
}
.itemSectionMedium
{
	height: 80px;
}

.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
}

.tableDetailOdd {
	background: #EFEFEF;
}
.tableHeader {
	background: #CFD8D5;
}

.socialbutton {
	padding: 0px;
	margin: 1px;
  	-webkit-appearance: none;
  	-webkit-border-radius: 0;
}

button.socialbutton::-moz-focus-inner {
	margin: -1px;
	padding: 0px;
}

.socialbutton[disabled="disabled"] , .socialbutton:disabled {
 	opacity: 0.5;
    filter: alpha(opacity=50);
}

.notallowed {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

#search {
	font-size: 11px;
}

#search-notice {
	font-size: 10px;
	font-style: italic;
	color: red;
	display: none;
}

.placeholder-image {
	top: 25%;
	left: 25%;
	position: relative;
	padding: 10px;
}

.posting-table tr {
	height: 60px;
	line-height: 18px;
}