
#body {
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;	
}

#buttonDiv {
	text-align: center;
}

#headerText {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#detailDiv {
	width: 80%;
	background: #D7D7D7;
	border: 1px solid #007DB1;	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	min-width: 300px;
}







