#body {
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
}
#mainContainer {
	background: #CCCCCC;
	width: 95%;
	min-height: 300px;
	margin: 10px auto 5px auto;
	padding: 5px;
	text-align: center;
	border: 2px solid #666666;
}

table.mapTable
{
	border-collapse:collapse;
	width: 100%;
	
}
table.mapTable, th.mapTable, td.mapTable
{
	border: 1px solid #666666;
	font-size: 11px;
}

#UploadContactsDiv
{
	height: 375px;
	width: 720px;	
	margin-left: auto;
	margin-right: auto;	
}

.sectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background-image: url(../images/section_tab.jpg);
	padding-top:  5px;
}
.sectionHeader a { 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:visited{ 
	font-size: 12px;	
		text-decoration: none;	
        color: #363636; 
        } 
.sectionHeader a:hover {
	font-size: 12px;	 
        text-decoration: underline;	
        color: #363636; 
        } 
.sectionHeader a:active {
	font-size: 12px;	
		text-decoration: none;	
		color: #363636;
		}
.subSectionHeader
{
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top:  5px;
}		
		
.sectionDiv
{
	width: 700px;
	height: 355px;		
	padding: 10px;
	background-image: url(../images/body_bg.jpg)	
}

.itemSection
{
	height: 40px;
}

.longItemSection
{
	height: 180px;
}
.ButtonDiv
{
	width: 800px;
}
label
{
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}