body {
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #FFFFFF;
}
#mainContainer {
	background: #CCCCCC;
	width: 95%;
	min-height: 300px;
	margin: 10px auto 5px auto;
	padding: 5px;
	text-align: center;
	border: 2px solid #666666;
}

.pageHeader {
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.sectionHeader {
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0px 5px 0px;
}

.sectionContent {
	font-size: 12px;
	padding-bottom: 10px;
}