@CHARSET "ISO-8859-1";

.fieldSection
{
	background: #CCCCCC;
	padding: 20px;
		
}
.itemSection
{
	padding-bottom: 10px;
}
#navbar_container {
width: 625px;
height: 25px;
font-size: 11px;
font-weight: bold;
margin: 0px auto;
min-width: 625px;
}
.navbar_item {
	padding: 8px 15px 0px 15px;
	height: 22px;
}
.navbar_item_selected {
height: 22px;
padding: 8px 15px 0px 15px;
}
.warning
{
	color: #990000;
	font-weight: bold;	
}
.navbar_rightspacer {
	width: 470px;		
}
body
{
	font-size:14px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
}
.darkBlueOutline
{
	background-color: #0C2577;	
}.
.lightBlueOutline
{
	background-color: #72AEB6;	
}

.orangeText
{
	color:#FEA644; 
	font-size:13px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
}
.headerText
{
	color:#0C2577; 
	font-size:14px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
}
label
{
	color:#0C2577; 
	font-size:12px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	font-weight: bold;
}
.warningText
{
	color:#FF0000; 
	font-size:14px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
}
.headerTextLarge
{
	color:#0C2577; 
	font-size:16px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:5px;
}
.headerTextLarge a, .headerTextLarge a:link { 
        text-decoration: none; 
        color: #0C2577; 
        } 
.headerTextLarge a:visited{ 
        text-decoration: none; 
        color: #0C2577; 
        } 
.headerTextLarge a:hover { 
        text-decoration: underline; 
        color: #0C2577; 
        } 
.headerTextLarge a:active {
		color: #0C2577;
		}
		
.ghostText
{
	color:#999999; 
	font-size:10px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
}

a.blueLink
{
	color:#0C2577; 
	font-size:12px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
}

.MenuActive { 
        text-align: center; 
        vertical-align: middle; 
/*  CUSTOMIZABLE COLOR */ 
        font-weight: bold; 
        font-size: 12px; 
        background: #72AEB6; 
        font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
        } 
.MenuActive a { 
        text-decoration: none; 
        color: #FFFFFF; 
}       
.MenuActive a:hover { 
        text-decoration: underline;
        color: #FFFFFF;  
} 

.Menu { 
       text-align: center; 
        vertical-align: middle;  
        background: #0C2577; 
        font-weight: bold; 
        font-size: 12px; 
        font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
        } 
.Menu a, .TDTab a:link { 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.Menu a:visited{ 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.Menu a:hover { 
        text-decoration: underline; 
        color: #FFFFFF; 
        } 
.Menu a:active {
		color: #FFFFFF;
		}
		
.tableTitle
{
	color:#FFFFFF; 
	font-size:13px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #72AEB6;
}

.tableTitleBlue
{
	color:#FFFFFF; 
	font-size:13px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #0C2577;
}
.tableTitleBlue a, .tableTitleBlue a:link { 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableTitleBlue a:visited{ 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableTitleBlue a:hover { 
        text-decoration: underline; 
        color: #FFFFFF; 
        } 
.tableTitleBlue a:active {
		color: #FFFFFF;
		}
		
.tableTitleOrange
{
	color:#FFFFFF; 
	font-size:13px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #FEA644;
}
.tableTitleOrange a, .tableTitleOrange a:link { 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableTitleOrange a:visited{ 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableTitleOrange a:hover { 
        text-decoration: underline; 
        color: #FFFFFF; 
        } 
.tableTitleOrange a:active {
		color: #FFFFFF;
		}
		
.tableHeader
{
	color:#FFFFFF; 
	font-size:12px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #9FC7CC;
}
.tableHeader a, .tableHeader a:link { 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableHeader a:visited{ 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableHeader a:hover { 
        text-decoration: underline; 
        color: #FFFFFF; 
        } 
.tableHeader a:active {
		color: #FFFFFF;
		}
		
.tableHeaderSmall
{
	color:#FFFFFF; 
	font-size:8px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #9FC7CC;
	text-align: center;
	vertical-align: top;
}
.tableHeaderSmall a, .tableHeaderSmall a:link { 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableHeaderSmall a:visited{ 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableHeaderSmall a:hover { 
        text-decoration: underline; 
        color: #FFFFFF; 
        } 
.tableHeaderSmall a:active {
		color: #FFFFFF;
		}
		
.tableDetail
{
	height:60px;
	color:#0C2577; 
	font-size:12px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #D4E5E7;
}
.tableDetail a, .tableDetail a:link { 
        text-decoration: none; 
        color: #0C2577; 
        } 
.tableDetail a:visited{ 
        text-decoration: none; 
        color: #0C2577; 
        } 
.tableDetail a:hover { 
        text-decoration: underline; 
        color: #0C2577; 
        } 
.tableDetail a:active {
		color: #0C2577;
		}

.tableDetailLight
{
	height:60px;
	color:#0C2577; 
	font-size:12px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #EEEEEE;
}

.tableDetailSmall
{
	color:#0C2577; 
	font-size:10px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #D4E5E7;
}

.tableDetailWhite
{
	color:#000000; 
	font-size:12px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #FFFFFF;
}

.navLink
{
	color:#0C2577; 
	font-size:10px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #FFFFFF;
}
.navLink a, .navLink a:link { 
        text-decoration: none; 
        color: #0C2577; 
        } 
.navLink a:visited{ 
        text-decoration: none; 
        color: #0C2577; 
        } 
.navLink a:hover { 
        text-decoration: underline; 
        color: #0C2577; 
        } 
.navLink a:active {
		color: #0C2577;
		}