@CHARSET "ISO-8859-1";


body
{
	font-family: Arial, Helvatica, sans-serif;	
	font-size: 12px;		
}

select {
	background: #CFD8D5;	
	border: 1px solid #999999;
	font-weight: bold;
	font-size: 11px;
	margin: 2px;	
}
input[type=text] {
	font-size: 11px;
	border: 1px solid #CFD8D5;
	padding: 1px 0px;
	margin: 2px;
}

#page
{
	width: 100%;
	min-width: 800px;
}

#quickbar 
{
	width: 100%;
	text-align: right;
	font-size: 85%;
	color: #999999;
}
#quickbarMenu
{
	position: absolute;
	width: 200px;
	top: 25px;
	right: 10px;
	background: #CFD8D5;
	padding: 3px;
	text-align: left;
}
#quickbarMenuHeader
{
	text-align: right;
	padding-bottom: 2px;
}
.quickbarMenuItem
{
	cursor: pointer;
	height: 15px;
	padding-top: 3px;
	font-weight: bold;
}
.quickbarMenuItem:hover
{
	background: #666666;
	color: #FFFFFF;
}

#quickbar a
{
	color: #666666;
	text-decoration: none;
}
#quickbar a:visited{ 
        color: #666666; 
        } 
#quickbar a:hover { 
        color: #28BB9F; 
        text-decoration: underline;
        } 
#quickbar a:active {
		color: #666666;
		}


#header
{
	height: 100px;	
	width: 100%;
	float: left;
}

#header_image_left
{
	height: 100px;
	float: left;	
}
#header_image_right
{
	height: 50px;
	float: right;	
}

#status_bar
{
	font-size: 14px;
	font-weight: bold;	
	height: 20px;		
}

#body
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.rowheader
{
	background: #CFD8D5;
	color: #000000;	
	border: 1px solid #CFD8D5;	
}

.rowheader a { 
        color: #000000; 
        } 
.rowheader a:visited{ 
        color: #000000; 
        } 
.rowheader a:hover { 
        color: #000000; 
        } 
.rowheader a:active {
		color: #000000;
		}
.roweven {
	background: #EFEFEF;
}
.rowodd {
	background: #FFFFFF;
}


.error
{
	color: #990000;
	font-weight: bold;
	width: 100%;
	float: left;	
}

#navbar_container
{
	width: 100%;	
	height: 25px;
	font-size: 11px;
	min-width: 800px;
}

#navbar_div
{		
	height: 25px;
	font-weight: bold;
	width: 100%;
	margin-left: 235px;
}

#left_navbar_div
{	
	float: left;	
	height: 25px;
	font-weight: bold;
	margin-right: 15px;	
}

#navbar_spacer
{	
	width: 100px;
	float: left;	
	height: 25px;
}

.navbar_item
{
	height: 30px;			
	text-align: center;
	color: #000000;
	padding: 0px 15px 0px 15px;
	float: left;
	cursor: pointer;
	vertical-align: middle;	
	border-bottom: 1px solid #cfd8d5;
}
.navbar_item a { 
	text-decoration: none;	
	color: #aaaaaa; 
}
.navbar_item a:hover { 
	text-decoration: none;	
	color: #8438bc; 
}

.navbar_item_left {
	padding: 0px 10px 0px 10px;
	height: 30px;			
	text-align: center;
	color: #000000;
	float: left;
	cursor: pointer;
	vertical-align: middle;
	width: 82px;
}
.navbar_item_left_container {		
	border-bottom: 1px solid #cfd8d5;
	padding-bottom: 2px;
	margin-top: auto;
	margin-bottom: 0px;
}
.navbar_item_left_container:hover {		
	border-bottom: 1px solid #8438bc;
}
.navbar_item_left a { 
	text-decoration: none;	
	color: #aaaaaa;
	padding-bottom: 5px;
}
.navbar_item_left a:hover { 	
	color: #8438bc; 
}

.no_right_border
{
	border-right: 0px;
}

.navbar_item_selected, .navbar_item_left_selected
{
	
	height: 30px;	
	padding: 0px 15px 0px 15px;
	float: left;
	cursor: pointer;
	border-right: 1px solid #cfd8d5;		
	border-left: 1px solid #cfd8d5;		
	border-top: 1px solid #cfd8d5;		
	text-align: center;	
	vertical-align: middle;	
}
.navbar_item_selected a, .navbar_item_left_selected a
{ 
	text-decoration: none;	
	color: #8438bc; 
}
.navbar_rightspacer {
	cursor: auto;
	/* width: 270px; */		
    width: 100%;
    margin-left: 632px;
    float: none;
}

.popup_div
{
	font-size: 35px;
	font-weight: bold;	
	color: #CC0000;
	height: 50px;	
}
		
.atomPostTitle {
	color: #28BB9F;
	font-size: 16px;
	font-weight: bold;		
}
.atomPostTitle a{
	color: #28BB9F;
	text-decoration: none;
}
.atomPostTitle a:hover{
	text-decoration: underline;
}
.atomPostAuthor {
	color: #8438bc;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 5px;
}
.atomPostContent {
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 15px;
}

#brandNewsDiv .atomPostTitle {
	font-size: 14px;
}
#brandNewsDiv .atomPostContent {
	display: none;
}
#brandNewsDiv .atomPostAuthor {
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #CCCCCC;
}