.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
}
.style2 {font-size: 18px}
.style3 {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.style4 {font-size: 12}
.style6 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}