body
{
	font-family: Arial, Helvatica, sans-serif;	
	font-size: 11px;		
}

table.report_table
{
	border-collapse:collapse;
	width: 100%;
}
table.report_table, th.report_table, td.report_table
{
	border: 1px solid #CFD8D5;
	font-size: 11px;
}

.rowheader
{
	background: #CCC;
	font-weight: bold;
}
.rowfooter
{
	background: #DFDFDF;
	font-weight: bold;
}
.roweven
{
	background: #EFEFEF;
}
.rowodd
{
	background: #FFFFFF;	
}
.report_title
{
	font-size: 16px;
	font-weight: bold;		
}
.report_subtitle
{
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;			
}
.reportHeader {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
}

.header_small
{
	font-weight: normal;
	font-size: 6px;
	padding-left: 3px;
}

#filter_div
{
	padding: 5px;
	height: 52px;
	min-width: 1000px;
	
	background: #CFD8D5;
	font-weight: bold;
	border-radius: 10px;
	
}
#filter_label_div {
	width: 130px;
	float: left;
	padding-top: 5px;
	padding-left: 15px;
	color: #000;
}
#left_filter_div
{
	float: left;
	min-width: 450px;
	padding-left: 10px;
}
#right_filter_div
{
	float: right;
	text-align: right;
	padding-right: 10px;	
}
#filter_row_2
{
	padding-top: 3px;
}

#ReportDateDiv {
	padding-top: 25px;
	font-weight: bold;
}

#report_div {
	margin-left: 35px;
}

#footer
{
	clear: both;
	text-align: right;
	padding-right: 35px;
	padding-top: 15px;
}

.date_input
{
	width: 75px;
}

.dashboardBlock {
	display: inline-block;
	text-align: center;
}

@media print
{
	.noprint
	{
		display: none;
	}
}

.dashboardBlock {
	background-image: url(../images/loading.gif);
	background-repeat:no-repeat;
	background-position: center; 
}