body
{
	margin-top: 10px;
	margin-left: 50px;
}

.blackText 
{ 
	font-size: 12px;
	font-family: "Myriad Pro", Helvetica, Arial;
} 
.blackTextSmall 
{ 
	font-size: 8px;
	font-family: "Myriad Pro", Helvetica, Arial; 
} 

.headerText
{
	color:#000000; 
	font-size:14px; 
	font-family: "Myriad Pro", Helvetica, Arial;
}

.headerTextLarge
{
	color:#999999; 
	font-size:18px; 
	font-family: "Myriad Pro", Helvetica, Arial;
}

.tableTitle
{
	color:#FFFFFF; 
	font-size:13px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #666666;
}

.tableHeader
{
	color:#FFFFFF; 
	font-size:12px; 
	font-family: "Futura Std Book","Futura Md", Helvetica, Arial;
	background: #AAAAAA;
}
.tableHeader a, .tableHeader a:link { 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableHeader a:visited{ 
        text-decoration: none; 
        color: #FFFFFF; 
        } 
.tableHeader a:hover { 
        text-decoration: underline; 
        color: #FFFFFF; 
        } 
.tableHeader a:active {
		color: #FFFFFF;
		}

.grayBar
{
	background-image: url(images/gray_bar.jpg);
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 30px;
}
.grayBar a, .grayBar a:link 
{ 
	text-decoration: none; 
	color: #000000; 
} 
.grayBar a:visited
{ 
	text-decoration: none; 
	color: #000000; 
} 
.grayBar a:hover 
{ 
	text-decoration: none; 
	color: #555555; 
} 
.grayBar a:active 
{
	color: #000000;
}
		
.grayBarSelected
{
	background-image: url(images/gray_bar_selected.jpg);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	
}
.grayBarSelected a, .grayBarSelected a:link 
{ 
	text-decoration: none; 
	color: #FFFFFF; 
} 
.grayBarSelected a:visited
{ 
	text-decoration: none; 
	color: #FFFFFF; 
} 
.grayBarSelected a:hover 
{ 
	text-decoration: none; 
	color: #FFFFFF; 
} 
.grayBarSelected a:active 
{
	color: #FFFFFF;
}

.ltgrayButton
{
	background-image: url(images/ltgray_button.jpg);
	color: #58595B;
	font-size: 8px;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	width: 150px;
	height: 20px;
	text-align: center;
	padding-top: 5px;
	
}
.ltgrayButton a, .ltgrayButton a:link 
{
	padding: 14px; 
	font-size: 14px;  
	text-decoration: none; 
	color: #58595B; 
} 
.ltgrayButton a:visited
{
	padding: 14px; 
	font-size: 14px; 
	text-decoration: none; 
	color: #58595B; 
} 
.ltgrayButton a:hover 
{
	padding: 14px;  
	font-size: 14px;
	text-decoration: none; 
	color: #8EA33B; 
} 
.ltgrayButton a:active 
{
	padding: 14px;
	font-size: 14px;
	color: #58595B;
}

.greenBar
{
	background-image: url(images/green_bar.jpg);
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 30px;
}

.greenBarSmall
{
	background-image: url(images/green_bar.jpg);
	font-size: 10px;
	color: #333333;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 30px;
}

.tableDetail
{
	background-color: #FFFFFF;
	font-size: 12px;
	color: #58595B;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 25px;
}
.tableDetail a, .tableDetail a:link 
{
	text-decoration: none; 
	color: #58595B; 
} 
.tableDetail a:visited
{ 
	text-decoration: none; 
	color: #58595B; 
} 
.tableDetail a:hover 
{
	text-decoration: none; 
	color: #58595B; 
} 
.tableDetail a:active 
{
	color: #58595B;
}

.tableDetailOdd
{
	background-color: #CCCCCC;
	font-size: 12px;
	color: #58595B;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 25px;
}
.tableDetailOdd a, .tableDetailOdd a:link 
{
	text-decoration: none; 
	color: #58595B; 
} 
.tableDetailOdd a:visited
{ 
	text-decoration: none; 
	color: #58595B; 
} 
.tableDetailOdd a:hover 
{
	text-decoration: none; 
	color: #58595B; 
} 
.tableDetailOdd a:active 
{
	color: #58595B;
}

.tableDetailGreen
{
	background-color: #FFFFFF;
	font-size: 16px;
	color: #8EA33B;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
}
.tableDetailGreen a, .tableDetailGreen a:link 
{
	text-decoration: none; 
	color: #8EA33B; 
} 
.tableDetailGreen a:visited
{ 
	text-decoration: none; 
	color: #8EA33B; 
} 
.tableDetailGreen a:hover 
{
	text-decoration: none; 
	color: #8EA33B; 
} 
.tableDetailGreen a:active 
{
	color: #8EA33B;
}

.tableDetailSelected
{
	background-color: #FFFFFF;
	font-size: 12px;
	color: #8EA33B;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 25px;
}
.tableDetailSelected a, .tableDetailSelected a:link 
{
	text-decoration: none; 
	color: #8EA33B; 
} 
.tableDetailSelected a:visited
{ 
	text-decoration: none; 
	color: #8EA33B; 
} 
.tableDetailSelected a:hover 
{
	text-decoration: none; 
	color: #8EA33B; 
} 
.tableDetailSelected a:active 
{
	color: #8EA33B;
}

.navLink
{
	background-color: #FFFFFF;
	font-size: 10px;
	color: #58595B;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 25px;
}
.navLink a, .navLink a:link 
{
	text-decoration: none; 
	color: #58595B; 
} 
.navLink a:visited
{ 
	text-decoration: none; 
	color: #58595B; 
} 
.navLink a:hover 
{
	text-decoration: none; 
	color: #8EA33B; 
} 
.navLink a:active 
{
	color: #58595B;
}

.navLinkGray
{
	background-color: #E0E0E0;
	font-size: 10px;
	color: #58595B;
	font-weight: bold;
	font-family: "Myriad Pro", Helvetica, Arial;
	height: 25px;
	text-decoration: none;
}
.navLinkGray a, .navLinkGray a:link 
{
	text-decoration: none; 
	color: #58595B; 
} 
.navLinkGray a:visited
{ 
	text-decoration: none; 
	color: #58595B; 
} 
.navLinkGray a:hover 
{
	color: #8EA33B; 
} 
.navLinkGray a:active 
{
	color: #58595B;
}


